body {
  width: 100%;
  margin: 0;
  border: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  margin: 2rem auto;
}

td {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: black 5px solid;
  font-size: 5em;
  cursor: pointer;
}

td:hover {
  background-color: #999999;
}

p {
  font-size: 1.2em;
  font-weight: 600;
}

.gone {
  display: none;
}
